@import url('https://fonts.googleapis.com/css2?family=Salsa&family=Sniglet:wght@400;800&display=swap');

body {
    font-family: 'Salsa', sans-serif;
  }
  
.loginPage{
    background: url('Images/student.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("Images/student.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}
.loginForm{
    background-color: rgba(59, 48, 33, 0.486);
    color: white;
}
.registerPage{
    background: url('Images/student.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("Images/student.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}
.sidebar{
    background-color: #152935;
}
li :hover {
    font-size: 1.2em;
    font-weight: 400;
    color:azure;
    transition: all ease-in 0.1s;
}
.main{
    background: url('');
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    margin-top:20px;
    background: url('https://images.unsplash.com/photo-1508873699372-7aeab60b44ab?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

  backdrop-filter: blur(10px); 
}
.content h1{
    padding-left: 30px;
    font-size: 3em;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content p{
    padding-left: 30px;
}


.sidebar.collapsed {
    width: 70px; /* Adjust as per your design */
}

.sidebar.collapsed .nav-link {
    display: none;
}

@media (max-width: 768px) {
    .sidebar.collapsed {
        display: none;
    }
}
.btn{
    background-color: #698ea2;
}
.btn:hover{
    background-color: #ccd5d2
}